#platform=x86, AMD64, or Intel EM64T
#version=DEVEL
# Install OS instead of upgrade
install
# Keyboard layouts
keyboard 'us'
# Root password
rootpw --iscrypted $1$COlbbBmN$c044a4dkyyU.JVsPjptXg1
# Use network installation
url --url="http://172.22.26.203/repos/fedora25/"
# System language
lang en_US
# Firewall configuration
firewall --disabled
# Reboot after installation
reboot
# System timezone
timezone Africa/Abidjan
# Use graphical install
graphical
# System authorization information
auth  --useshadow  --passalgo=sha512
firstboot --disable
# SELinux configuration
selinux --enforcing

# System bootloader configuration
bootloader --location=mbr
# Clear the Master Boot Record
zerombr
# Partition clearing information
clearpart --all --initlabel
# Disk partitioning information
part /boot --fstype="ext4" --size=1000
part /home --fstype="ext4" --size=5000
part / --fstype="ext4" --grow --size=1
